<launch>

	<!-- Start dynamixel driver -->
	<node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
		<rosparam file="$(find laser_sweep)/driver.yaml"/>
	</node>

	<!-- Start tilt joint controller -->
	<rosparam file="$(find laser_sweep)/sweep.yaml" />
	<node name="sweep_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py" args="--manager=dxl_manager --port sweep_port sweep_controller" output="screen" />

	<!-- Hokuyo Scanner -->
	<node name="Laser" pkg="hokuyo_node" type="hokuyo_node">
		<param name="calibrate_time" type="bool" value="false"/>
		<param name="frame_id" type="string" value="/laser_link"/>
		<param name="min_ang" type="double" value="-1.46"/>
		<param name="max_ang" type="double" value="1.46"/>
		<param name="intensity" type="bool" value="false"/>
	</node>

</launch>
